body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.container {
    text-align: center;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border: 1px solid #007bff;
    border-radius: 10px;
    background-color: #fff;
}

.form-group {
    margin-bottom: 15px;
}

label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
}
.errors{
    color: red;
    font-size: 10px;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    width: 100%;
    background-color: #007bff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}